<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <link th:replace="${link} :: style('framework/miminium/asset/css/bootstrap.min.css')"></link>
    <link th:replace="${link} :: style('framework/miminium/asset/css/plugins/font-awesome.min.css')"></link>
    <link th:replace="${link} :: style('framework/miminium/asset/css/plugins/simple-line-icons.css')"></link>
    <link th:replace="${link} :: style('framework/miminium/asset/css/plugins/animate.min.css')"></link>
    <link th:replace="${link} :: style('framework/miminium/asset/css/plugins/icheck/skins/flat/aero.css')"></link>
    <link th:replace="${link} :: style('framework/miminium/asset/css/style.css')"></link>
    <link th:replace="${link} :: style('framework/miminium/asset/img/logomi.png')" rel="shortcut icon"></link>
</th:block>