<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.julang.service.user.mapper.IUserMapper">
    <sql id="fields">
        UserName,Password,Email,Tel,PayPassword,AccStatus,AccType,SignupTime,LastLoginTime,LastLoginIp
    </sql>
    
    <insert id="insert" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="UserId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO Users(UserName,Password,Email)
        VALUES(#{userName},#{password},#{email})
    </insert>
</mapper>