<!--
    商城网站头
    @author HongWei
-->
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="top-bar animate-dropdown">
        <div class="container">
            <div class="header-top-inner">
                <div class="cnt-account">
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="icon fa fa-user"></i>我的账户</a></li>
                        <li><a href="#"><i class="icon fa fa-heart"></i>心愿单</a></li>
                        <li><a href="#"><i class="icon fa fa-shopping-cart"></i>购物车</a></li>
                        <li><a href="#"><i class="icon fa fa-check"></i>退出</a></li>
                        <li><a href="#"><i class="icon fa fa-lock"></i>登录</a></li>
                    </ul>
                </div><!-- /.cnt-account -->
                <!-- /.cnt-cart -->
                <div class="clearfix"></div>
            </div><!-- /.header-top-inner -->
        </div>
    </div><!-- /.header-top -->
</th:block>